html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.page-container {
  width: 100%;
}

.Polaris-DataTable__Table thead tr th {
  text-transform: uppercase;
  font-weight: 600;
}
.Polaris-DatePicker__MonthLayout {
  margin-top: 0 !important;
}

.Polaris-Card__Section {
  padding: 0 0.75rem !important;
}

.two-fifth .Polaris-Card__Section {
  padding: 0 2rem 1rem 2rem !important;
}

.fullwidth {
  display: flex;
  width: 100%;
}

.fullwidth.tag > div > .Polaris-Card > .Polaris-Card__Section {
  padding: 2rem !important;
}

.Polaris-Card__Section > .Polaris-Card__Section {
  padding: 0 !important;
}

.fullwidth > div:first-child {
  margin-right: 1.5rem;
}

.fullwidth > div:last-child {
  margin-left: 1.5rem;
}

.fullwidth > div {
  width: calc(50% - 1.5rem);
}
