SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SHOP=bathangminh.myshopify.com
SCOPES=read_products,read_assigned_fulfillment_orders,read_checkouts,read_content,read_customers,read_customers,read_customers,read_files,read_fulfillments,read_gift_cards,read_inventory,read_legal_policies,read_locales,read_locations,read_marketing_events,read_merchant_managed_fulfillment_orders,read_orders,read_price_rules,read_products,read_product_listings,read_product_listings,read_resource_feedbacks,read_script_tags,read_shipping,read_shopify_payments_disputes,read_shopify_payments_payouts,write_order_edits
HOST=""
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=information-system-integration
DB_HOST=localhost
DB_PORT=3306
ANALYZER_HOST=""